ul{
    list-style-type: none;  
}

#newtask{
    margin:10px;
    padding: 5px;
    width:100%
}

#check{
    margin-right: 10px;
    margin-left: 10px;
}

li{
    margin-bottom: 10px;
}

.checked{
    text-decoration: line-through;
}

.unchecked{
    text-decoration: none;
}

#deletetask{
    display: inline;
}

button{
    margin:10px;
}

/* .deletebtn{
  
} */

h1{
    text-align:center;
}

.up{
    margin:10px;
    padding:5 px;
    display: inline-block;
    /* position:absolute; */
}

.down{
    margin: 10px;
    padding:5px;
    display: inline-block;
    /* position: absolute; */
}

.up:hover{
    background: red;
    color:white;
}

.down:hover{
    background: blue;
    color:white;
}